 <section class="section">
          
          <div class="columns is-variable is-8">
            <div class="column is-5 is-offset-1 ">
              <div class="content is-medium">
                <h1 class="title has-text-black is-3">{{title}}</h1>
                <p class="has-text-dark">{{body}}</p>
              </div>
            </div>
          </div>
          
<div>
  <input value="{{post.id}}" id="pID">
<textarea class="textarea" placeholder="e.g. Hello world" id="commentSection"></textarea>
</div>

